[submodule "ssloys_lecture/tinyrenderer"]
	path = ssloys_lecture/tinyrenderer
	url = https://github.com/ssloy/tinyrenderer
[submodule "ray_tracing/RayTracing"]
	path = ray_tracing/RayTracing
	url = https://github.com/RayTracing/raytracing.github.io.git
